<% include partials/header %>

<% entries.forEach(entry => { if(entry.type === "computer") { %> 
    
    <div class="row py-3 portfolio-entry">
        <hr>
            <div class="col-12 col-md-4 image-container">
                <img class="entry-image" src="<%= entry.image %>">
                <div class="icon">
                        <i class="fas fa-expand-arrows-alt"></i>
                </div>
            </div>
            <div class="col-12 col-md-8 overlay-text">
                <h3><%= entry.title %></h3>
                <hr>
                <h5>Description</h5>
                <p><%- entry.description %></p>
                <hr>
                <h5>Current Functionality</h5>
                <p><%- entry.functionality %></p>
                <hr>
                <h5>Developed With</h5>
                <ul>
                    <% entry.developedWith.forEach(tech => { %>
                        <li><%= tech %></li>
                    <% }) %>
                </ul>
                <% if(entry.webLink) { %>
                <a class="btn btn-success d-inline float-right mx-1" href="<%= entry.webLink %>">Download</a>
                <% } %>
                <a class="btn btn-info d-inline float-right mx-1" href="<%= entry.gitLink %>">Visit Github</a>
            </div>
        <hr>
    </div>
    
<% }}) %>

<% include partials/footer %>