<% include partials/header %>

<div class="row py-3 portfolio-entry text-center">
    <hr>
        <div class="col-12">
        <h3 class="overlay-text">Computer Apps</h3>
        <p class="overlay-text">My computer projects such as games, game engines, AI algorithms, simulators, etc. 
            will be added here soon. Until then, please see my Github to view my projects.</p>
            <a class="btn btn-info d-inline float-center mx-1" href="https://github.com/marcin388">Visit Github</a>
        </div>
    <hr>
</div>

<% entries.forEach(entry => { if(entry.type === "computer") { %> 
    
    <div class="row py-3 portfolio-entry">
        <hr>
            <div class="col-12 col-md-4 ">
                <img class="entry-image" src="<%= entry.image %>">
            </div>
            <div class="col-12 col-md-8">
                <h3 class="overlay-text"><%= entry.title %></h3>
                <hr>
                <h5 class="overlay-text">Description</h5>
                <p class="overlay-text"><%= entry.description %></p>
                <hr>
                <h5 class="overlay-text">Current Functionality</h5>
                <p class="overlay-text"><%= entry.functionality %></p>
                <hr>
                <h5 class="overlay-text">Developed With</h5>
                <ul class="overlay-text">
                    <% entry.developedWith.forEach(tech => { %>
                        <li><%= tech %></li>
                    <% }) %>
                </ul>
                <% if(entry.webLink) { %>
                <a class="btn btn-success d-inline float-right mx-1" href="<%= entry.webLink %>">Download</a>
                <% } %>
                <a class="btn btn-info d-inline float-right mx-1" href="<%= entry.gitLink %>">Visit Github</a>
            </div>
        <hr>
    </div>
    
<% }}) %>

<% include partials/footer %>