<% include partials/header %>



<% entries.forEach(entry => { if(entry.type === "web") { %> 
    
    <div class="row py-3 portfolio-entry">
        <hr>
            <div class="col-12 col-md-4 image-container">
                <img class="entry-image" src="<%= entry.image %>">
                <div class="icon">
                        <i class="fas fa-expand-arrows-alt"></i>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <h3 class="overlay-text"><%= entry.title %></h3>
                <hr>
                <h5 class="overlay-text">Description</h5>
                <p class="overlay-text"><%= entry.description %></p>
                <hr>
                <h5 class="overlay-text">Current Functionality</h5>
                <p class="overlay-text"><%= entry.functionality %></p>
                <hr>
                <h5 class="overlay-text">Developed With</h5>
                <ul class="overlay-text">
                    <% entry.developedWith.forEach(tech => { %>
                        <li><%= tech %></li>
                    <% }) %>
                </ul>
                <% if(entry.webLink) { %>
                <a class="btn btn-success d-inline float-right mx-1 my-1" href="<%= entry.webLink %>">Visit Website</a>
                <% } %>
                <a class="btn btn-info d-inline float-right mx-1 my-1" href="<%= entry.gitLink %>">Visit Github</a>
            </div>
        <hr>
    </div>
    
<% }}) %>

<% include partials/footer %>